CONTROL_ADDR=10.10.10.255
CONTROL_PORT=8889
CONTROL_OFFSET_MS=1000
CONTROL_SEND_INTERVAL_MS=5000
MEDIA_PORT=5006
AUDIO_FILE=audio/dcwarning.mp3
BRS_NAME=brs

# BRS -> BUCIS metrics (UDP 8892/8881)
METRICS_ADDR=10.10.10.255
METRICS_LISTEN_PORT=8892
METRICS_SEND_PORT=8892
METRICS_REPLY_PORT=8881

ALSA_DEVICE=default